@use "index.scss" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Montserrat", sans-serif;
	background-color: $main-color;
}

// NAV
.nav {
	position: fixed;
	width: 100%;
	height: 3.5em;
	background-color: $main-color;
	z-index: 100;

	.logo {
		margin: 0 1em;
		position: absolute;
		top: 10px;
		left: 10px;
		display: flex;
		justify-content: left;
		align-items: center;
		a {
			text-decoration: none;
		}
		h2 {
			font-size: 3rem;
			color: $logo-color;
			font-weight: normal;
		}
	}
	.burger-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 8px;
		right: 25px;
		padding: 0.5em;
		height: 40px;
		width: 45px;
		background: none;
		cursor: pointer;
		border: 1.5px solid $secondary-color;
		border-radius: 8px;

		&:focus {
			outline: none;
			border: 1.5px solid $secondary-color;
			border-radius: 8px;
		}

		&__bar {
			position: relative;
			top: 0;
			width: 65%;
			height: 3px;
			margin-bottom: 7px;
			background-color: $secondary-color;
			border-radius: 8px;
		}

		&__bar:last-child {
			margin-bottom: 0;
		}

		&:hover .burger-btn__bar {
			background-color: $footer-color;
		}
	}

	&__items-mobile {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin: 0;
		padding: 0 3em 3em 3em;
		height: 100vh;
		width: 100vw;
		right: -100vw;
		top: 3em;
		background-color: $main-color;
		transition: transform 0.3s;
	}
	&__items-desktop {
		display: none;
	}
	&__item {
		position: relative;
		margin-bottom: 0.5em auto;
		padding: 1.5em 1em;
		font-size: 2rem;
		font-weight: bold;
		text-decoration: none;
		color: $secondary-color;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $secondary-color;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.3s ease-in;
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.active {
	transform: translate(-100vw);
}
// HEADER
.header {
	position: relative;
	color: $main-color;
	.hero-img {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60vh;
		width: 100vw;
		background-image: url("../../dist/img/jungle-s.jpg");
		background-position: center;
		background-size: cover;
		z-index: 0;
		&__shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: -1;
		}
		&__text {
			position: absolute;
			top: 35%;
			left: 10%;
			display: flex;
			flex-direction: column;
			padding: 2em 1em;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
			animation: header-animation 2s ease-out forwards;
			opacity: 0;
		}
		&__p {
			padding: 0.3em;
			margin: auto;
			font-size: 2.2rem;
			font-weight: bold;
		}
		&__h1 {
			padding: 0.3em;
			margin-bottom: 0.2em;
			font-size: 1.5rem;
			font-weight: normal;
		}
	}
}
// ABOUTUS
.section {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	&__heading {
		margin: 1em 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 2.6rem;
	}
}
.aboutus {
	&__img {
		width: 100%;
		padding: 1em;
		object-fit: cover;
	}
	&__text {
		margin: 0.5em;
		padding: 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $secondary-color;
		&--h3 {
			margin-bottom: 1em;
			font-size: 1.8rem;
			text-align: center;
		}
		&--p {
			padding: 1em;
			font-size: 1.3rem;
		}
	}
}
// BANNER
.banner-section {
	position: relative;

	&__img {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 35vh;
		background: url("../../dist/img/girl-s.jpg");
		background-size: cover;
		background-position: center;
		color: $main-color;
		z-index: 1;
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 0;
	}
	&__box {
		padding: 1em;
		border: 1px solid $main-color;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
	&__text {
		font-size: 2.2rem;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	}
}
//offers

.offers {
	&__p {
		margin: 1em auto 0.5em;
		padding: 0.5em;
		text-align: center;
		font-size: 1.3rem;
	}
	&__cards-container {
		padding: 1em;
	}
	&__card {
		margin: 0.5em auto 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5em;
		height: 400px;
		width: 280px;
		border: 1px solid transparent;
		border-radius: 8px;
		box-shadow: 2px 2px 2px 2px rgba(41, 41, 41, 0.8);
		transition: transform 0.2s;
		&:hover {
			transform: scale(98%);
		}
	}
	&__h3 {
		margin-bottom: 0.3em;
		font-size: 2.5rem;
	}
	&__price {
		margin: 0.5em;
		font-size: 2.7rem;
		font-weight: bold;
	}
	&__list {
		text-align: left;
		list-style: none;
	}
	&__element {
		padding: 0.3em;
		font-size: 1.5rem;
	}
	&__check {
		color: rgb(16, 197, 13);
	}
	&__element-off {
		color: rgb(122, 122, 122);
	}
	&__button {
		margin-top: 1em;
		padding: 0.5em 3em;
		font-size: 1.6rem;
		border: 1px solid transparent;
		border-radius: 8px;
		box-shadow: 1px 1px 5px 0px rgba(66, 68, 90, 1);
		background-color: $button-color2;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	&__button-p {
		background-color: $button-color;
	}
	&__button:hover {
		background-color: $button-hover-color;
	}
	&__other {
		margin-bottom: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		&--a {
			text-decoration: none;
			font-weight: bold;
			color: $button-color;
			transition: color 0.3s;
			&:hover {
				color: $button-hover-color;
			}
		}
	}
}

.footer {
	&__boxes {
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: $footer-color;
	}
	&__box {
		margin-bottom: 0.5em;
		padding: 0.5em;
	}
	&__h3 {
		margin-bottom: 0.9em;
		font-size: 2.1rem;
	}
	&__el {
		margin: 0 1em;
		text-decoration: none;
		font-size: 1.8rem;
		color: $secondary-color;
		transition: color 0.3s;
		&:hover {
			color: $button-color;
		}
	}
	&__logo {
		a {
			font-size: 3rem;
			text-decoration: none;
			color: $logo-color;
			h3 {
				margin-bottom: 1em;
				font-weight: normal;
			}
		}
	}
	&__end {
		background-color: $footer-color2;
		&--line {
			width: 100%;
			height: 1px;
			background-color: gray;
		}
		&--text {
			padding: 1em;
			font-size: 1.4rem;
			text-align: center;
		}
	}
}
//media
@media (min-width: 576px) {
	.aboutus {
		&__text {
			&--p {
				font-size: 1.5rem;
			}
		}
	}
	.offers {
		&__p {
			font-size: 1.5rem;
		}
	}
	.section {
		&__heading {
			font-size: 2.8rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		.hero-img {
			&__h1 {
				font-size: 2rem;
			}
			&__p {
				font-size: 3rem;
			}
		}
	}
	.aboutus {
		&__container {
			display: flex;
		}
		&__img {
			width: 38%;
			margin-left: 3em;
		}
		&__text {
			justify-content: flex-start;
			&--h3 {
				display: flex;
				align-self: start;
			}
			&--p {
				font-size: 1.7rem;
			}
		}
	}
	.offers {
		&__cards-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__card {
			margin: 1em auto;
		}
	}
	.footer {
		position: relative;
		&__boxes{
			margin: 2em auto 1em;
			flex-direction: row;
			justify-content: center;
			align-items: start;
			width: 100%;
		}
		&__box {
			top: 0;
			padding: 1em 2em;
			text-align: left;
		}
		&__h3{
			text-align: left;
		}

		&__el {
			margin: 0;
			padding: .5em 0;
			display: block;
			text-align: left;
		}
		&__logo {
			width: 35%;
			align-self: center;
			a{
				font-size: 3.5rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.section {
		&__heading {
			font-size: 3.2rem;
			margin-bottom: 1em;
		}
	}
	.nav {
		.burger-btn {
			display: none;
		}
		&__items-mobile {
			display: none;
		}
		&__items-desktop {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			width: 40%;
			height: 100%;
			right: 0;
			background-color: $main-color;
			z-index: -1;
		}

		&__item {
			padding: 1em;
			height: 100%;
			font-size: 1.7rem;
			font-weight: normal;

			&:hover {
				color: $main-color;
				background-color: $secondary-color;
			}
			&::after {
				display: none;
			}
		}
	}
	.header {
		.hero-img {
			justify-content: start;
			background-image: url("../../dist/img/jungle-b.jpg");

			&__h1 {
				font-size: 2.4rem;
			}
			&__p {
				font-size: 3.4rem;
			}
		}
	}
}

.banner-section {
	&__img {
		background: url("../../dist/img/girl-b.jpg");
		background-size: cover;
		background-position: center;
	}
	&__text {
		font-size: 2.8rem;
		padding: 0 3em;
	}
}
.offers {
	&__p {
		font-size: 1.6rem;
	}
}
