@use "index.scss" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	font-family: "Montserrat", sans-serif;
	color: $secondary-color;
}

// NAV
.nav {
	position: fixed;
	width: 100%;
	height: 3.5em;
	background-color: $main-color;
	z-index: 100;

	.logo {
		margin: 0 1em;
		position: absolute;
		top: 22px;
		left: 10px;
		display: flex;
		justify-content: left;
		align-items: center;
		h2 {
			font-size: 40px;
			color: $logo-color;
		}
	}
	.burger-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 0.6em;
		height: 55px;
		width: 60px;
		background: none;
		cursor: pointer;
		border: 1.5px solid $secondary-color;
		border-radius: 8px;

		&:focus {
			outline: none;
			border: 1.5px solid $secondary-color;
			border-radius: 8px;
		}

		&__bar {
			position: relative;
			top: 0;
			width: 65%;
			height: 3px;
			margin-bottom: 9px;
			background-color: $secondary-color;
		}

		&__bar:last-child {
			margin-bottom: 0;
		}

		&:hover .burger-btn__bar {
			background-color: $footer-color;
		}
	}

	&__items {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin: 0;
		padding: 0 3em 3em 3em;
		height: 80vh;
		width: 100vw;
		right: -100vw;
		top: 4em;
		background-color: $main-color;
		transition: transform 0.3s;
	}
	&__item {
		position: relative;
		margin-bottom: 0.5em auto;
		padding: 0.5em 1em;
		font-weight: bold;
		text-decoration: none;
		color: $secondary-color;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $secondary-color;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.3s ease-in;
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.active {
	transform: translate(-100vw);
}
// HEADER
.header {
	position: absolute;
	top: 90px;
	color: $main-color;
	.hero-img {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60vh;
		width: 100vw;
		background-image: url("../img/jungle-s.jpg");
		background-position: center;
		background-size: cover;
		z-index: 0;
		&__shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: -1;
		}
		&__text {
			position: absolute;
			display: flex;
			flex-direction: column;
			padding: 2em 1em;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
			animation: header-animation 2s ease-out forwards;
			opacity: 0;

			&--p {
				padding: 0.3em;
				margin: auto;
				font-size: 1.8rem;
				font-weight: bold;
			}
			&--h1 {
				padding: 0.3em;
				margin-bottom: 0.2em;
				font-size: 1.5rem;
				font-weight: normal;
			}
		}
	}
}

//media

@media (min-width: 992px) {
	.nav {
		.burger-btn {
			display: none;
		}
		&__items {
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			padding: 0.5em 3em;
			height: 2.5em;
			right: 40px;
			top: 0;
			background-color: $main-color;
			transition: transform 0.3s;
			z-index: -1;
		}

		&__item {
			padding: 2.1em 1em 1.2em 1em;
			font-weight: normal;

			&:hover {
				color: $main-color;
				background-color: $secondary-color;
			}
			&::after {
				display: none;
			}
		}
	}
	.header {
		.hero-img {
			justify-content: start;
			background-image: url('../img/jungle-b.jpg');
		}
	}
}
